:root {
    --red-primary: #991602;
    --beige-primary: #b3825656;
    --beige-cards: #d4c0ad;
    --font-title: 100px;
    --font-text: 30px;
    --font-subtitle: 80px
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--beige-primary);
    font-family: 'Satisfy', cursive;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    width: 80%;
    height: 10vh;
    background-color: var(--red-primary);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0 0 20% 20%;
    position: absolute;
    height: 10%;
}

nav {
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 100;
    position: absolute;
}

.nav-left {
    width: 50%;
}

.nav-right {
    width: 100%;
}

.nav-left p {
    margin: 5% 10%;
    font-size: 200%;

}


.nav-right ul {
    display: flex;
    align-items: flex-end;
    align-items: center;
    list-style: none;
}

.nav-right ul li p {
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 0 0 0;
    font-size: 150%;
}

.nav-right ul li:hover {
    color: bisque;
    width: 100%;

}

.background-image-1 img {
    position: relative;
    margin-top: 5vh;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 80%;
}


.background-image-1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    color: bisque;

}

.main-text-1 {
    position: absolute;
    font-size: 80px;
    color: white;
    width: 50%;
    height: auto;
    z-index: 2;
    top: 35%;
    left: 25%;
}
.card-title{
    font-size: var(--font-title);
    margin-bottom: 0;
}

.section-2-container {
    position: absolute;
    height: 100vh;
    background-color: var(--beige-cards);
    margin: 0 12%;
    top: 1050px;
    border-radius: 0 5%;
    border: black solid 1px;
    box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.2);
}

.section-3-container {
    position: absolute;
    height: 100vh;
    background-color: var(--beige-cards);
    margin: 0 12%;
    top: 2900px;
    border-radius: 0 5%;
    border: black solid 1px;
    box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.2);
}

.section-2,
.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.date-container,
.map-container,
.countdown-container {
    padding: 5vh;
    text-align: center;
}



.background-image-2 img,
.background-image-3 img {
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 80%;
    top: -500px;
    background-size: cover;
}
.card-subtitle{
    font-size: var(--font-subtitle);
}
.card-text{
    font-size: var(--font-text);
}




/*-------------------------------------Cuenta regresiva-----------------------------------*/ 
#timer {
    font-size: 500%;
    font-weight: 100;
    color: var(--red-primary);

    div {
        display: inline-block;
        min-width: 150px;

        span {
            color: var(--red-primary);
            display: block;
            font-size: 40%;
            font-weight: 400;
        }
    }
}