
:root {
    --red-primary: #991602;
    --beige-primary: #b3825656;
    --beige-cards: #d4c0ad;
    --font-title: 100px;
    --font-text: 22px;
    --font-subtitle: 80px;
    --font-movile-title: 27px;
    --font-movile-subtitle: 20px;
}
html{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--beige-primary);
    overflow-x: hidden;
}

nav {
    background-color: var(--red-primary);
    height: 150px;
    border-radius: 0 0 10% 10%;
}

p {
    text-align: center;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.container-fluid a {
    font-size: var(--font-text);
}

.container-fluid a:hover {
    color: bisque;
}

.card {
    background-color: var(--beige-cards);
}

.countdown {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.countdown-content p:nth-child(1) {
    text-justify: auto;
}

.countdown-text {
    color: var(--red-primary);
}

.main-text-love-3 {
    position: absolute;
    top: 80px;
}

.main-titles {
    width: 100%;
    top: 25%;
}

.main-titles p {
    color: var(--red-primary)
}

.main-text {
    color: var(--red-primary)
}

.navbar-brand {
    z-index: 10;
}

/*----------------------------media query-----------------------------*/
@media (max-width:500px) {
    nav {
        display: flex;
        height: 100px;
    }

    .navbar-brand img {
        width: 70px;
        height: auto;
        align-content: center;

    }

    .movile-container-heart {
        width: 50%;
    }

    .menu-container {
        width: 50%;
    }

    .main-text-love {
        width: 60%;
        top: 25% !important;
    }

    .carousel-item img {
        height: 700px;
    }

    .countdown-content {
        width: 100%;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }

    .countdown-content div {
        display: contents;
    }

    .flower-container img {
        width: 50%;
        height: auto;
    }

    .col {
        padding: 5vh;
    }

    .main-menu-movile {
        background-color: #ddd9c4;
        z-index: 10;
        padding: 4vh;
    }

    .navbar-toggler-icon {
        height: 2.5em;
    }
    .card{
    }
   
}