:root {
    --red-primary: #991602;
    --beige-primary: #b3825656;
    --beige-cards: #d4c0ad;
    --font-title: 100px;
    --font-text: 22px;
    --font-subtitle: 80px;
    --font-movile-title: 27px;
    --font-movile-subtitle: 20px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--beige-primary);
    overflow-x: hidden;
    font-family: 'Cookie', cursive;
}

nav {
    background-color: var(--red-primary);
    height: 150px;
    border-radius: 0 0 10% 10%;
}

p {
    text-align: center;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.main-text-love {
    font-size: 500%;
}

.container-fluid a {
    font-size: var(--font-text);
}

.container-fluid a:hover {
    color: bisque;
}

.card {
    background-color: var(--beige-cards);
}

.countdown {
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.countdown-content p:nth-child(1) {
    text-justify: auto;
}

.countdown-text {
    color: var(--red-primary);
}

.main-text-love-3 {
    position: absolute;
    top: 80px;
}

.main-titles {
    width: 100%;
    top: -20%;
    padding: 20%;
}

.main-titles p {
    color: var(--red-primary)
}

.main-text {
    color: var(--red-primary);
    font-size: 280%;
}

.navbar-brand {
    z-index: 10;
}

.last-flowers {
    top: 581vh;
}

footer div {
    height: 30vh;
    background-color: var(--red-primary);
}

/*----------------------------media query-----------------------------*/
@media (max-width:500px) {
    nav {
        display: flex;
        height: 100px;
    }

    .navbar-brand img {
        width: 70px;
        height: auto;
        align-content: center;

    }

    .movile-container-heart {
        width: 50%;
    }

    .menu-container {
        width: 50%;
    }

    .main-text-love {
        font-size: 280%;
    }

    .main-titles {
        top: -5%;
    }

    .carousel-item {
        overflow: hidden;
        height: 100vh;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .countdown-content {
        width: 100%;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        font-size: 60%;

    }

    .countdown-content div {
        display: contents;
    }

    .flower-container img {
        width: 50%;
        height: auto;
    }

    .col {
        padding: 5vh;
    }

    .main-menu-movile {
        background-color: #ddd9c4;
        z-index: 10;
        padding: 4vh;
    }

    .navbar-toggler-icon {
        height: 2.5em;
    }

    .navbar-brand img {

        width: 100px;
        height: auto;
    }

    .navbar-brand {
        padding: 0;
        margin: 0;
    }

    .navbar-toggler {
        border: 2px solid black;
    }

    footer div {
        height: 10vh;
    }

}